//Colores

$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tamaños de fuentes

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Font Family

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Font Weight

$font-light: 300;
$font-regular: 400;
$font-black: 900;

//Font-style

$italic: italic;