//Contenido
.contents{
    margin: 2rem 0;
   
    &__date{        
        color: $nickel;        
    }

    &__paragraph{
        font-family: $roboto;
        font-style: $font-regular;
        color: $nickel;
        padding: 1.5rem 0;
        
        &--important{
            color: $fuzzy-wuzzy;
        }
    }   
    
}

//perfil
.profile{
    border: 1px solid $light-gray;
    padding: 2rem;
    &__container{
        display: flex; 
        padding-left: 7rem;
        
        @include media-breakpoint-down(md) {
            display: block;           
           padding: 0;
           margin: 0
        }

    }
    &__img{
        border-radius: 50%;       
        width: 200px;
        height: 200px;  
        @include media-breakpoint-down(md) {
            margin-left: 5rem;
            width: 160px;
            height: 160px;  
        } 
    }

    &__box{
        margin-top: 2rem;
        padding-left: 2rem;
        text-decoration: none;
        font-family: $roboto;
        font-style: $font-light;
        @include media-breakpoint-down(md) {
            margin-top: 0;
            padding-left: 0;
            text-align: center;
        }
    }
    &__name{
        font-family: $playfair;
        font-style: $italic;
        font-size: $x-large;
        font-weight: $font-black;
    }

    &__social{
        &:hover{            
            color: $raisin-black; 
        } 

        &:active{       
            color: $nickel;   
        }                
        
    }

    &__social--color{
        color: $fuzzy-wuzzy;

       
    }

    &__description{
        width: 50%;
        margin-top: 3rem;
    }
  
}

